<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title>{{ cardData.title }}</mat-card-title>
    <mat-card-subtitle
      >Price:
      {{ cardData.price | currency: "USD":"symbol":"1.0" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="card__image-container">
    <img
      mat-card-image
      [src]="cardData.thumbnail"
      [alt]="cardData.title"
      class="card__image"
    />
  </mat-card-content>
  <mat-card-footer class="card__rating">
    <div class="card__stars">
      <ngx-star-rating
        [ngModel]="roundNumber(cardData.rating)"
        [disabled]="true"
      ></ngx-star-rating>
    </div>
    <div>Rating: {{ cardData.rating }}</div>
  </mat-card-footer>
</mat-card>
