.header {
  display: flex;
  justify-content: space-between;

  &__menu-button,
  .mat-button {
    border-radius: 50%;
    padding: 0;
    min-width: 45px;
  }

  &__logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__user-name {
    margin-right: 20px;
  }
}
